@navbarFixedTopHeight: 30px;

body {
  padding-top: @navbarFixedTopHeight;
}

header {

  .navbar-fixed-top {
    background-color: #FFF;
    border-bottom: 1px solid #dadada;
    min-height: @navbarFixedTopHeight;

    .pull-left ul.topmenu {
      padding-left: 15px;
    }

    ul.topmenu {
      list-style: none;
      margin: 0;
      padding: 0;
      & > li {
        display: block;
        float: left;
        & > a {
          display: block;
          float: right;
          line-height: 30px;
          padding: 0 20px 0 0;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
    .mod-user-button > .dropdown-menu {
      left: inherit;
      right: 0;
    }
  }

  .logo-section {
    padding-top: 15px;

    .logo-text {
      padding-left: 15px;
      .navbar-brand {
        float: none;
        display: block;
      }
    }
    .search-line {
      margin-top: 15px;
    }
  }

}