<!--[*]
[ph=sys:site_name]Site Name[/ph]
[ph=sys:site_title]Brief description of your site[/ph]

[mod=sitemap]htmlhead,header,sidebar,footer,breadcrumb[/mod]

[*]--><!DOCTYPE html>
<html lang="ru" class="yui3-loading">
<body>

[mod]sitemap:htmlhead[/mod]
[mod]sitemap:header[/mod]

<div id="doc">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-9">
                    [mod]sitemap:breadcrumb[/mod]
                    [tt]content[/tt]
                </div>
                <div class="col-md-3">
                    [mod]sitemap:sidebar[/mod]
                </div>
            </div>
        </div>
    </div>
</div>

[mod]sitemap:footer[/mod]

</body>
</html>